<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../public/style.css">
    <script src="../public/script.js" defer></script>
    <title>License Generator</title>
</head>
<body>
    <div class="container">
        <main>
            <div class="search-form">
                <form method="post" id="form-submit">
                    <div class="form-group">
                        <div class="form-control">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required>
                        </div>

                        <div class="form-control">
                            <label for="version">Version</label>
                            <input type="text" name="version" id="version" required>
                        </div>   

                    </div>

                    <div class="submit-btn">
                        <button type="submit" id="generate-license">Generate License</button>
                    </div>

                </form>
                <div id="input-error" width="100">Check inputs, no special characters and spaces allowed.</div>
            </div>
            <div id="download" class="hidden">
                <a id="license" class="btn" >download license</a><br>
                <a id="tree" class="btn">download tree</a>
                <a id="log" class="btn">download Log File</a>
            </div>

            <div id="loading" class="hidden">
                <div class="loading">
                    <h3>Loading...</h3>
                    <div class="lds-ellipsis">
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        </main>

        <div id="message"></div>
    </div>
   
</body>
</html>